<section class="title-container">
    {% include 'todo_app/partials/list_title.html' %}
</section>

<section>
    <ul id="all-tasks">
        {% for task in tasks %}
            {% include 'todo_app/partials/single_task.html' %}
        {% endfor %}
    </ul>
    <div>
        <form
        method="post" 
        hx-post="{% url 'save-task' %}"
        hx-target="#todo-list"
        hx-on::after-request="this.reset()">
            <input type="hidden" name="list_id" value="{{list.id}}">
            <input type="text" name="new_task" placeholder="Add new task ...">
            <button type="submit">+</button>
        </form>
    </div>
</section>