<li>
    <form hx-post="{% url 'update-task' task.id %}"
        hx-target="closest li"
        hx-swap="outerHTML" method="post">
        <input type="text" id="task_{{task.id}}" name="updated_task" value="{{task.name}}">
        <span>
            <button type="submit" class="btn btn-link">
                <span class="fa-regular fa-circle-check fa-lg"></span>
            </button>
            <button type="button"
                class="btn btn-link"
                hx-get="{% url 'update-task' task.id %}"
                hx-target="closest li"
                hx-swap="outerHTML">
                <span class="fa-regular fa-circle-xmark fa-lg"></span>
            </button>
        </span>
    </form>
</li>