{% extends 'todo_app/base.html' %}


{% block title_html %}
   Dashboard 
{% endblock title_html %}


{% block body_html %}

    <section id="app-section" class="container-fluid">
        <div id="app-container">
            <div id="search-container">
                <input id="search-input" class="form-control me-2" type="text" placeholder="Search your list ..." name="search_input"
                    hx-get="{% url 'search-list' %}"
                        hx-trigger="focus, keyup changed delay:500ms"
                        hx-target="#search-results"
                        hx-on:focus="htmx.removeClass('#search-results', 'hidden')">
                    <div id="search-results" class="hidden">
                </div>
            </div>

            <div id="filter-container">
                <div class="form-check">
                    <input class="btn-check" type="radio" name="tasks-filter" id="all-tasks-filter" checked>

                    <label class="btn btn-primary all-btn" for="all-tasks-filter">
                        All tasks
                    </label>
                </div>
                <div class="form-check">
                    <input class="btn-check" type="radio" name="tasks-filter" id="pending-tasks-filter">

                    <label class="btn btn-danger pending-btn" for="pending-tasks-filter">
                        Pending
                    </label>
                </div>
                <div class="form-check">
                    <input class="btn-check" type="radio" name="tasks-filter" id="completed-tasks-filter">

                    <label class="btn btn-success completed-btn" for="completed-tasks-filter">
                        Completed
                    </label>
                </div>
            </div>

            <div id="todo-list"
                class="border d-flex justify-content-center flex-column align-items-center"
                hx-get="{% url 'fetch-list' %}" hx-trigger="load, customDeleteEvent from:body">
            </div>
        </div>
    </section>

    {% include 'todo_app/partials/create_list_modal.html' %}

    <!-- <footer>
        <h3>
            Contact
        </h3>
        <h3>
            Made with love by Ajeet
        </h3>
        <h3>
            copyright
        </h3>
        <h3>
            social links
        </h3>
    </footer> -->

    <script>
    $(document).on('click', function(event) {
        let outsideClick = !$('#search-results').is(event.target) && $('#search-results').has(event.target).length === 0;

        outsideClick = outsideClick && (!$('#search-input').is(event.target) && $('#search-input').has(event.target).length === 0);

        if (outsideClick) {
            $('#search-results').addClass("hidden");
            $('#search-input').val("")
        }
    });
    </script>

{% endblock body_html %}
    