{% extends 'todo_app/base.html' %}


{% block title_html %}
   Dashboard 
{% endblock title_html %}


{% block body_html %}
    <header>
        <section>
            <h1>{{list.title}}</h1>
        </section>
        <section>
            <ul style="list-style-type: none;">
                {% for task in tasks %}
                    <li>
                        <input type="checkbox" id="task_{{task.id}}">
                        <label for="task_{{task.id}}" >{{task.name}}</label>
                    </li>
                {% endfor %}
            </ul>
            <form
              method="post" 
              hx-post="{% url 'save-task' %}"
              hx-target="ul"
              hx-swap="beforeend"
              hx-on::after-request="this.reset()">
                <input type="hidden" name="list_id" value="{{list.id}}">
                <input type="text" name="new_task" placeholder="Add new task ...">
                <button type="submit">+</button>
            </form>
        </section>
    </header>

    <!-- <footer>
        <h3>
            Contact
        </h3>
        <h3>
            Made with love by Ajeet
        </h3>
        <h3>
            copyright
        </h3>
        <h3>
            social links
        </h3>
    </footer> -->

{% endblock body_html %}
    