{% extends 'todo_app/base.html' %}


{% block title_html %}
   Dashboard 
{% endblock title_html %}


{% block body_html %}
    <header>
        {% include 'todo_app/partials/display_list.html' %}
    </header>

    {% include 'todo_app/partials/create_list_modal.html' %}
    {% include 'todo_app/partials/your_lists_search_modal.html' %}


    <!-- <footer>
        <h3>
            Contact
        </h3>
        <h3>
            Made with love by Ajeet
        </h3>
        <h3>
            copyright
        </h3>
        <h3>
            social links
        </h3>
    </footer> -->

{% endblock body_html %}
    