<nav>
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>
    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#create-list-form-modal">Create List</button>

    <input id="search-list" type="text" placeholder="Search your list ..." name="search_input"
        hx-get="{% url 'search-list' %}"
        hx-trigger="focus, keyup changed delay:500ms"
        hx-target="#search-results"
        hx-on:focus="htmx.removeClass('#search-results', 'hidden')">
    <section id="search-results" class="hidden">
    </section>
</nav>