input[type="checkbox"]:checked + label {
    color: grey;
    text-decoration: line-through;
}

ul{
    list-style-type: none;
}

.hidden {
    display: none;
}

                    /* SLIDE IN SHADE WITH BUTTONS */
#list-title{
    display: flex;
    font-size: 3rem;
    position: relative;
    border-radius: 1.2rem;
    overflow: hidden;
    margin: 0;
    width: 70%;
    justify-content: center;
}

.shade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 1.2rem;
    transform: translateX(105%);
    transition: all 0.4s ease;
    background-color: #00061ace;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}

#list-title:hover .shade {
    transform: translateX(0);
}

.shade:hover {
    transform: translateX(105%);
}

.shade-btn {
    border: none;
    margin-left: 1rem;
    padding: 0;
    display: inline-block;
    font-size: 1.7rem;
    background-color: transparent;
    color: white;
}

button.shade-btn span {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#update-list:hover {
    color: yellow;
}
#delete-list:hover {
    color: red;
}

/*======================NAVBAR====================== */

/* WHEN THE NAVBAR IS NOT COLLAPSED */
#toggle-theme {
    margin-left: 5vw;
}

ul.ms-auto > li.nav-item {
    margin: auto 0.5rem;
}
/* =================================== */

/* WHEN THE NAVBAR IS COLLAPSED */
@media only screen and (max-width: 576px) {
    #toggle-theme {
        margin: 0.8rem auto 0;
    }

    ul.ms-auto > li.nav-item {
        margin: 0.8rem auto;
    }

    #app-container {
        width: 70vw;
    }
}
/* =================================== */


/* NAV-LINKS BUTTON HOVER EFFECT */
nav .btn-outline-light {
    --mdc-ripple-color: rgb(var(--bs-white-rgb));
    --bs-btn-hover-bg: rgba(var(--bs-white-rgb), .1);
    --bs-btn-active-bg: rgba(var(--bs-white-rgb), .2);
}
/* =================================== */

/* THEME MODE ICONS */
span.fa-moon, span.fa-sun {
    margin: 0 0.25rem;
}
/* =================================== */
/* ================================================== */



/* ============TODO LIST MAIN APP=============== */

#app-container {
    width: 30vw;
    margin: 45px auto 0 auto;
}

/* =================RESPONSIVENESS====================== */
@media only screen and (max-width: 1400px) {
    #app-container {
        width: 30vw;
    }

    #all-tasks {
        margin: 0 25px;
    }
}

@media only screen and (max-width: 1200px) {
    #app-container {
        width: 35vw;
    }
}

@media only screen and (max-width: 992px) {
    #app-container {
        width: 40vw;
    }
}
@media only screen and (max-width: 768px) {
    #app-container {
        width: 45vw;
    }
}

@media only screen and (max-width: 576px) {
    #app-container {
        width: 60vw;
    }
}

@media only screen and (max-width: 480px) {
    #app-container {
        width: 80vw;
    }
}
/* ====================================== */

#filter-container {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0 2rem 0;
}

#filter-container div.form-check {
    padding: 0;
}

#todo-list {
    border-radius: var(--bs-border-radius);
    border-width: var(--bs-border-width);
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem 0 0 0;
    padding: 0;
}

#tasks-container {
    width: 100%;
    flex: 2;
    margin: 3rem auto;
}

#new-task-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#all-tasks {
    padding: 0;
    margin: 0 50px;
}

.task-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.task-container label {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

/* =============FILTER BUTTON CSS POP EFFECT============*/

div.form-check input:not(:checked) + label {
    color: var(--bs-secondary-emphasis-hover);
    background-color: var(--bs-secondary);
    box-shadow: 0px 4px 1px 0px var(--bs-secondary-active);
    transform: translateY(3px);
    transition: all 0.2s linear;
}

div.form-check input:not(:checked) + label:hover {
    color: var(--bs-secondary-emphasis-hover);
    background-color: var(--bs-secondary);
    box-shadow: 0px 4px 1px 0px var(--bs-secondary-emphasis);
}

div.form-check input:checked + label.all-btn {
    background-color: var(--bs-primary);
    color: var(--bs-text-on-primary);
    box-shadow: 0px 8px 1px 0px var(--bs-primary-emphasis);
    transform: translateY(-3px);
    transition: all 0.2s linear;
}
div.form-check input:checked + label.pending-btn {
    background-color: var(--bs-danger);
    color: var(--bs-text-on-danger);
    box-shadow: 0px 8px 1px 0px var(--bs-danger-emphasis);
    transform: translateY(-3px);
    transition: all 0.2s linear;
}
div.form-check input:checked + label.completed-btn {
    background-color: var(--bs-success);
    color: var(--bs-text-on-success);
    box-shadow: 0px 8px 1px 0px var(--bs-success-emphasis);
    transform: translateY(-3px);
    transition: all 0.2s linear;
}

/* =================================== */

#search-container {
    position: relative;
}

#search-results {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#search-result-ul {
    border: var(--bs-border-width) solid var(--bs-primary-border-subtle);
    border-radius: var(--bs-border-radius);
    margin: 12px 0 0;
    padding: 0;
    box-shadow: 0px 0px 4px 5px var(--bs-primary-subtle);
    z-index: 2;
}


#search-result-ul li {
    border-bottom: var(--bs-border-width) solid var(--bs-primary-border-subtle);
    width: 100%;
    height: 100%;
}

#search-result-ul li:first-child {
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
}
#search-result-ul li:last-child {
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
    border-bottom: none;
}

#search-result-ul li:first-child button{
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
}

#search-result-ul li:last-child button{
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
}
.search-item-btn {
    background-color: var(--bs-text-on-primary);
    border: none;
    width: 100%;
    padding: 0.75rem;
    display: flex;
    align-items: start;
}

.search-item-btn:hover {
    background-color: var(--bs-primary-subtle);
}
.search-item-btn:active {
    background-color: var(--bs-primary-subtle-active);
}



/* //////////////////////////////////////////////// */

#new-task-input {
    width: 20vw;
    margin-right: .6rem;
}

#new-task-btn {
    text-align: center;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    margin-left: .6rem;
    padding-bottom: 10px;
    background-color: var(--bs-primary);
    color: var(--bs-text-on-primary);
    box-shadow: 2px 4px 0px 0px var(--bs-primary-emphasis);
    transform: rotateY(25deg);
    transition: all 0.05s linear;
}

#new-task-btn:active {
    box-shadow: 1px 1px 0 0 var(--bs-primary-subtle);
    transform: translateX(2px) translateY(4px) rotateY(25deg);
    transition: all 0.05s linear;
}

#new-task-btn span{
    font-size: 1.5rem;
}

#new-task-btn:active span{ 
    color: var(--bs-text-on-dark);
    text-shadow: 0 0 5px var(--bs-text-on-dark);
}

.form-layout{

    border-radius: 20px;
    width: 500px;
    border: 2px solid lavender;

}

