input[type="checkbox"]:checked + label {
    color: grey;
    text-decoration: line-through;
}

ul{
    list-style-type: none;
}

.hidden {
    display: none;
}

                    /* SLIDE IN SHADE WITH BUTTONS */
#list-title{
    display: inline-block;
    font-size: 4rem;
    position: relative;
    border-radius: 1.2rem;
    overflow: hidden;
}

.shade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 1.2rem;
    transform: translateX(105%);
    transition: all 0.4s ease;
    background-color: #00061ace;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}

#list-title:hover .shade {
    transform: translateX(0);
}

.shade:hover {
    transform: translateX(105%);
}

.shade-btn {
    border: none;
    margin-left: 1rem;
    padding: 0;
    display: inline-block;
    font-size: 1.7rem;
    background-color: transparent;
    color: white;
}

button.shade-btn span {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#update-list:hover {
    color: yellow;
}
#delete-list:hover {
    color: red;
}

/*======================NAVBAR====================== */

/* WHEN THE NAVBAR IS NOT COLLAPSED */
#toggle-theme {
    margin-left: 5vw;
}

ul.ms-auto > li.nav-item {
    margin: auto 0.5rem;
}
/* =================================== */

/* WHEN THE NAVBAR IS COLLAPSED */
@media (max-width: 576px) {
    #toggle-theme {
        margin: 0.8rem auto 0;
    }

    ul.ms-auto > li.nav-item {
        margin: 0.8rem auto;
    }
}
/* =================================== */


/* NAV-LINKS BUTTON HOVER EFFECT */
nav .btn-outline-light {
    --mdc-ripple-color: rgb(var(--bs-white-rgb));
    --bs-btn-hover-bg: rgba(var(--bs-white-rgb), .1);
    --bs-btn-active-bg: rgba(var(--bs-white-rgb), .2);
}
/* =================================== */

/* THEME MODE ICONS */
span.fa-moon, span.fa-sun {
    margin: 0 0.25rem;
}
/* =================================== */
/* ================================================== */